In [2]:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}

for i in data_files:
    data[i.replace('.csv','')] = pd.read_csv(i)

In [3]:
print(data['sat_results'].head(5))

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [4]:
for i in data:
    print(data[i].head(5))

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5
3               252   17  37     44     32    ...            75      29.8
4               208   16  40     28     32    ...            67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]
    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17
2            64              43                     67.2%                27
3            78              43                     55.1%                36
4            78              44                     56.4%                37

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                       30.9%                      45.9%
2                       42.2%                      62.8%
3                       46.2%                      83.7%
4                       47.4%                      84.1%

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27
3            ...                                  36
4            ...                                  37

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                              30.9%                             45.9%
2                              42.2%                             62.8%
3                              46.2%                             83.7%
4                              47.4%                             84.1%

  Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
0         s                   s                    s                  s
1        20               36.4%                54.1%                 15
2        16                 25%  37.200000000000003%                  9
3         7                  9%                16.3%                 16
4         7                  9%                15.9%                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                        27.3%               3                      5.5%
2                        14.1%               9                     14.1%
3                        20.5%              11                     14.1%
4                        19.2%              11                     14.1%

[5 rows x 23 columns]
      dbn                                        school_name    borough  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number  grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262             9.0              12
1          X400    718-842-0687  718-589-9849             9.0              12
2          X240    718-294-8111  718-294-8109             6.0              12
3          M520  718-935-3477             NaN             9.0              10
4          Q695    718-969-3155  718-969-3552             6.0              12

   expgrade_span_min  expgrade_span_max  \
0                NaN                NaN
1                NaN                NaN
2                NaN                NaN
3                9.0               14.0
4                NaN                NaN

                         ...                         priority08 priority09  \
0                        ...                                NaN        NaN
1                        ...                                NaN        NaN
2                        ...                                NaN        NaN
3                        ...                                NaN        NaN
4                        ...                                NaN        NaN

  priority10                                         Location 1  \
0        NaN  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1        NaN  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2        NaN  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3        NaN  411 Pearl Street\nNew York, NY 10038\n(40.7106...
4        NaN  160 20 Goethals Avenue\nJamaica, NY 11432\n(40...

  Community Board  Council District Census Tract        BIN           BBL  \
0             9.0              35.0        213.0  3029686.0  3.011870e+09
1             3.0              16.0        135.0  2004526.0  2.026340e+09
2             4.0              14.0        209.0  2008336.0  2.028590e+09
3             1.0               1.0         29.0  1001388.0  1.001130e+09
4             8.0              24.0       1267.0  4539721.0  4.068580e+09

                                                 NTA
0  Crown Heights South                           ...
1  Morrisania-Melrose                            ...
2  West Concourse                                ...
3  Chinatown                                     ...
4  Pomonok-Flushing Heights-Hillcrest            ...

[5 rows x 64 columns]
      DBN                             SchoolName AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.              39
1  01M450                 EAST SIDE COMMUNITY HS              19
2  01M515                    LOWER EASTSIDE PREP              24
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH             255
4  02M296  High School of Hospitality Management               s

  Total Exams Taken Number of Exams with scores 3 4 or 5
0                49                                   10
1                21                                    s
2                26                                   24
3               377                                  191
4                 s                                    s
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

In [5]:
all_survey = pd.read_csv("survey_all.txt",delimiter="\t",encoding="windows-1252")

d75_survey = pd.read_csv("survey_d75.txt",delimiter="\t",encoding="windows-1252")

survey = pd.concat([all_survey,d75_survey],axis=0)

print(survey.head(5))

     N_p    N_s   N_t  aca_p_11  aca_s_11  aca_t_11  aca_tot_11    bn  \
0   90.0    NaN  22.0       7.8       NaN       7.9         7.9  M015
1  161.0    NaN  34.0       7.8       NaN       9.1         8.4  M019
2  367.0    NaN  42.0       8.6       NaN       7.5         8.0  M020
3  151.0  145.0  29.0       8.5       7.4       7.8         7.9  M034
4   90.0    NaN  23.0       7.9       NaN       8.1         8.0  M063

   com_p_11  com_s_11   ...    t_q8c_1  t_q8c_2  t_q8c_3 t_q8c_4  t_q9  \
0       7.6       NaN   ...       29.0     67.0      5.0     0.0   NaN
1       7.6       NaN   ...       74.0     21.0      6.0     0.0   NaN
2       8.3       NaN   ...       33.0     35.0     20.0    13.0   NaN
3       8.2       5.9   ...       21.0     45.0     28.0     7.0   NaN
4       7.9       NaN   ...       59.0     36.0      5.0     0.0   NaN

   t_q9_1  t_q9_2  t_q9_3  t_q9_4  t_q9_5
0     5.0    14.0    52.0    24.0     5.0
1     3.0     6.0     3.0    78.0     9.0
2     3.0     5.0    16.0    70.0     5.0
3     0.0    18.0    32.0    39.0    11.0
4    10.0     5.0    10.0    60.0    15.0

[5 rows x 2773 columns]

In [6]:
survey['DBN'] = survey['dbn']
list_column = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
survey = survey.loc[:,list_column]
data["survey"] = survey

In [7]:
data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]

def fillpad(x) :
    return str(x["CSD"]).zfill(2)

data["class_size"]["padded_csd"] = data["class_size"].apply(fillpad, axis=1)

data["class_size"]["DBN"] = data["class_size"]["padded_csd"] + data["class_size"]["SCHOOL CODE"]

print(data["class_size"]["DBN"].head(3))

0    01M015
1    01M015
2    01M015
Name: DBN, dtype: object

In [8]:
data["sat_results"]["SAT Math Avg. Score"] = pd.to_numeric(data["sat_results"]["SAT Math Avg. Score"],errors="coerce")
data["sat_results"]["SAT Critical Reading Avg. Score"] = pd.to_numeric(data["sat_results"]["SAT Critical Reading Avg. Score"],errors="coerce")
data["sat_results"]["SAT Writing Avg. Score"] = pd.to_numeric(data["sat_results"]["SAT Writing Avg. Score"],errors="coerce")

data["sat_results"]["sat_score"] = data["sat_results"]["SAT Math Avg. Score"] + data["sat_results"]["SAT Critical Reading Avg. Score"] + data["sat_results"]["SAT Writing Avg. Score"]

print(data["sat_results"]["sat_score"].head(5))

0    1122.0
1    1172.0
2    1149.0
3    1174.0
4    1207.0
Name: sat_score, dtype: float64

In [9]:
import re

def getlat(x):
    latlon = str(re.findall("\(.+\)",x["Location 1"]))
    return latlon.split(",")[0].replace("['(","")

data["hs_directory"]["lat"] = data["hs_directory"].apply(getlat,axis=1)

print(data["hs_directory"].head(2))

      dbn                          school_name   borough building_code  \
0  17K548  Brooklyn School for Music & Theatre  Brooklyn          K440
1  09X543     High School for Violin and Dance     Bronx          X400

   phone_number    fax_number  grade_span_min  grade_span_max  \
0  718-230-6250  718-230-6262             9.0              12
1  718-842-0687  718-589-9849             9.0              12

   expgrade_span_min  expgrade_span_max        ...         priority10  \
0                NaN                NaN        ...                NaN
1                NaN                NaN        ...                NaN

                                          Location 1 Community Board  \
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...             9.0
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...             3.0

  Council District Census Tract        BIN           BBL  \
0             35.0        213.0  3029686.0  3.011870e+09
1             16.0        135.0  2004526.0  2.026340e+09

                                                 NTA     DBN  \
0  Crown Heights South                           ...  17K548
1  Morrisania-Melrose                            ...  09X543

                 lat
0  40.67029890700047
1   40.8276026690005

[2 rows x 66 columns]

In [10]:
import re

def getlon(x):
    latlon = str(re.findall("\(.+\)",x["Location 1"]))
    return latlon.split(",")[1].replace(")']","")

data["hs_directory"]["lon"] = data["hs_directory"].apply(getlon,axis=1)

data["hs_directory"]["lat"] = pd.to_numeric(data["hs_directory"]["lat"],errors="coerce")
data["hs_directory"]["lon"] = pd.to_numeric(data["hs_directory"]["lon"],errors="coerce")

print(data["hs_directory"].head(3))

      dbn                                  school_name   borough  \
0  17K548          Brooklyn School for Music & Theatre  Brooklyn
1  09X543             High School for Violin and Dance     Bronx
2  09X327  Comprehensive Model School Project M.S. 327     Bronx

  building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
0          K440  718-230-6250  718-230-6262             9.0              12
1          X400  718-842-0687  718-589-9849             9.0              12
2          X240  718-294-8111  718-294-8109             6.0              12

   expgrade_span_min  expgrade_span_max    ...      \
0                NaN                NaN    ...
1                NaN                NaN    ...
2                NaN                NaN    ...

                                          Location 1 Community Board  \
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...             9.0
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...             3.0
2  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...             4.0

  Council District Census Tract        BIN           BBL  \
0             35.0        213.0  3029686.0  3.011870e+09
1             16.0        135.0  2004526.0  2.026340e+09
2             14.0        209.0  2008336.0  2.028590e+09

                                                 NTA     DBN        lat  \
0  Crown Heights South                           ...  17K548  40.670299
1  Morrisania-Melrose                            ...  09X543  40.827603
2  West Concourse                                ...  09X327  40.842414

         lon
0 -73.961648
1 -73.904475
2 -73.916162

[3 rows x 67 columns]

In [11]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]

print(class_size.head(5))

     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO padded_csd     DBN
225       STARS                             NaN         01  01M292
226       STARS                             NaN         01  01M292
227       STARS                             NaN         01  01M292
228       STARS                             NaN         01  01M292
229       STARS                             NaN         01  01M292

In [12]:
import numpy as np
csgrouped = class_size.groupby("DBN")
class_size = csgrouped.agg(np.mean)

class_size.reset_index(inplace=True)

data["class_size"] = class_size

print(data["class_size"].head(4))

      DBN  CSD  NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
0  01M292    1                            88.0000                4.00
1  01M332    1                            46.0000                2.00
2  01M378    1                            33.0000                1.00
3  01M448    1                           105.6875                4.75

   AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
0           22.564286                   18.50              26.571429
1           22.000000                   21.00              23.500000
2           33.000000                   33.00              33.000000
3           22.231250                   18.25              27.062500

   SCHOOLWIDE PUPIL-TEACHER RATIO
0                             NaN
1                             NaN
2                             NaN
3                             NaN

In [13]:
data["demographics"] = data["demographics"][data["demographics"]["schoolyear"] == 20112012]

print(data["demographics"].head(4))

       DBN                                              Name  schoolyear  \
6   01M015  P.S. 015 ROBERTO CLEMENTE                           20112012
13  01M019  P.S. 019 ASHER LEVY                                 20112012
20  01M020  PS 020 ANNA SILVER                                  20112012
27  01M034  PS 034 FRANKLIN D ROOSEVELT                         20112012

   fl_percent  frl_percent  total_enrollment prek    k grade1 grade2  \
6         NaN         89.4               189   13   31     35     28
13        NaN         61.5               328   32   46     52     54
20        NaN         92.5               626   52  102    121     87
27        NaN         99.7               401   14   34     38     36

      ...     black_num black_per hispanic_num hispanic_per white_num  \
6     ...            63      33.3          109         57.7         4
13    ...            81      24.7          158         48.2        28
20    ...            55       8.8          357         57.0        16
27    ...            90      22.4          275         68.6         8

   white_per male_num male_per female_num female_per
6        2.1     97.0     51.3       92.0       48.7
13       8.5    147.0     44.8      181.0       55.2
20       2.6    330.0     52.7      296.0       47.3
27       2.0    204.0     50.9      197.0       49.1

[4 rows x 38 columns]

In [14]:
data["graduation"] = data["graduation"][(data["graduation"]["Cohort"] == "2006") & (data["graduation"]["Demographic"] == "Total Cohort")]

print(data["graduation"].head(4))

     Demographic     DBN                            School Name Cohort  \
3   Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2006
10  Total Cohort  01M448    UNIVERSITY NEIGHBORHOOD HIGH SCHOOL   2006
17  Total Cohort  01M450             EAST SIDE COMMUNITY SCHOOL   2006
24  Total Cohort  01M509                MARTA VALLE HIGH SCHOOL   2006

    Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
3             78              43                     55.1%                36
10           124              53                     42.7%                42
17            90              70                     77.8%                67
24            84              47                       56%                40

   Total Regents - % of cohort Total Regents - % of grads  \
3                        46.2%                      83.7%
10                       33.9%                      79.2%
17         74.400000000000006%                      95.7%
24                       47.6%                      85.1%

              ...            Regents w/o Advanced - n  \
3             ...                                  36
10            ...                                  34
17            ...                                  67
24            ...                                  23

   Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
3                               46.2%                             83.7%
10                              27.4%                             64.2%
17                74.400000000000006%                             95.7%
24                              27.4%                             48.9%

   Local - n Local - % of cohort Local - % of grads Still Enrolled - n  \
3          7                  9%              16.3%                 16
10        11                8.9%              20.8%                 46
17         3                3.3%               4.3%                 15
24         7  8.300000000000001%              14.9%                 25

   Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
3                         20.5%              11                     14.1%
10                        37.1%              20       16.100000000000001%
17                        16.7%               5                      5.6%
24                        29.8%               5                        6%

[4 rows x 23 columns]

In [15]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

data["ap_2010"][cols] = data["ap_2010"][cols].apply(pd.to_numeric,errors="coerce")

data["ap_2010"][cols].dtypes

AP Test Takers                          float64
Total Exams Taken                       float64
Number of Exams with scores 3 4 or 5    float64
dtype: object

In [19]:
combined = data["sat_results"]

combined = combined.merge(data["ap_2010"],how="left",on="DBN")

combined = combined.merge(data["graduation"],how="left",on="DBN")

print(combined.head(3))

combined.shape

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0

                     SchoolName  AP Test Takers   Total Exams Taken  \
0                           NaN              NaN                NaN
1  UNIVERSITY NEIGHBORHOOD H.S.             39.0               49.0
2        EAST SIDE COMMUNITY HS             19.0               21.0

             ...             Regents w/o Advanced - n  \
0            ...                                   36
1            ...                                   34
2            ...                                   67

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                              46.2%                             83.7%
1                              27.4%                             64.2%
2                74.400000000000006%                             95.7%

  Local - n  Local - % of cohort Local - % of grads Still Enrolled - n  \
0         7                   9%              16.3%                 16
1        11                 8.9%              20.8%                 46
2         3                 3.3%               4.3%                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                        20.5%              11                     14.1%
1                        37.1%              20       16.100000000000001%
2                        16.7%               5                      5.6%

[3 rows x 33 columns]

(479, 33)

In [20]:
combined = combined.merge(data["class_size"],how="inner",on="DBN")
combined = combined.merge(data["demographics"],how="inner",on="DBN")
combined = combined.merge(data["survey"],how="inner",on="DBN")
combined = combined.merge(data["hs_directory"],how="inner",on="DBN")

print(combined.head(3))

combined.shape

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0

                     SchoolName  AP Test Takers   Total Exams Taken  \
0                           NaN              NaN                NaN
1  UNIVERSITY NEIGHBORHOOD H.S.             39.0               49.0
2        EAST SIDE COMMUNITY HS             19.0               21.0

     ...      priority10                                         Location 1  \
0    ...             NaN  220 Henry Street\nNew York, NY 10002\n(40.7137...
1    ...             NaN  200 Monroe Street\nNew York, NY 10002\n(40.712...
2    ...             NaN  420 East 12 Street\nNew York, NY 10009\n(40.72...

  Community Board Council District  Census Tract        BIN           BBL  \
0             3.0              1.0         201.0  1003223.0  1.002690e+09
1             3.0              1.0         202.0  1003214.0  1.002590e+09
2             3.0              2.0          34.0  1005974.0  1.004390e+09

                                                 NTA        lat        lon
0  Lower East Side                               ...  40.713764 -73.985260
1  Lower East Side                               ...  40.712332 -73.984797
2  East Village                                  ...  40.729783 -73.983041

[3 rows x 165 columns]

(363, 165)

In [23]:
combined = combined.fillna(combined.mean())
combined = combined.fillna(0)

print(combined.head(6))

      DBN                                        SCHOOL NAME  \
0  01M292      HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448                UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                         EAST SIDE COMMUNITY SCHOOL
3  01M509                            MARTA VALLE HIGH SCHOOL
4  01M539  NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...
5  01M696                     BARD HIGH SCHOOL EARLY COLLEGE

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                     44                            390.0
4                    159                            522.0
5                    130                            624.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                433.0                   384.0     1207.0
4                574.0                   525.0     1621.0
5                604.0                   628.0     1856.0

                       SchoolName  AP Test Takers   Total Exams Taken  \
0                               0       129.028846         197.038462
1    UNIVERSITY NEIGHBORHOOD H.S.        39.000000          49.000000
2          EAST SIDE COMMUNITY HS        19.000000          21.000000
3                               0       129.028846         197.038462
4  NEW EXPLORATIONS SCI,TECH,MATH       255.000000         377.000000
5                               0       129.028846         197.038462

     ...      priority10                                         Location 1  \
0    ...               0  220 Henry Street\nNew York, NY 10002\n(40.7137...
1    ...               0  200 Monroe Street\nNew York, NY 10002\n(40.712...
2    ...               0  420 East 12 Street\nNew York, NY 10009\n(40.72...
3    ...               0  145 Stanton Street\nNew York, NY 10002\n(40.72...
4    ...               0  111 Columbia Street\nNew York, NY 10002\n(40.7...
5    ...               0  525 East Houston Street\nNew York, NY 10002\n(...

  Community Board Council District  Census Tract        BIN           BBL  \
0             3.0              1.0         201.0  1003223.0  1.002690e+09
1             3.0              1.0         202.0  1003214.0  1.002590e+09
2             3.0              2.0          34.0  1005974.0  1.004390e+09
3             3.0              1.0        3001.0  1004323.0  1.003540e+09
4             3.0              2.0        2201.0  1004070.0  1.003350e+09
5             3.0              2.0        1002.0  1004062.0  1.003250e+09

                                                 NTA        lat        lon
0  Lower East Side                               ...  40.713764 -73.985260
1  Lower East Side                               ...  40.712332 -73.984797
2  East Village                                  ...  40.729783 -73.983041
3  Chinatown                                     ...  40.720569 -73.985673
4  Lower East Side                               ...  40.718725 -73.979426
5  Lower East Side                               ...  40.718962 -73.976066

[6 rows x 165 columns]

In [25]:
def get_first_two_chars(x):
    return x[0:2]

combined["school_dist"] = combined['DBN'].apply(get_first_two_chars)
combined["school_dist"].head(3)

0    01
1    01
2    01
Name: school_dist, dtype: object